*{
    margin: 0;
}

@font-face {
    font-family: 'my-title-font';
    src: url(./assets/modern-heritage-display-font/ModernHeritageDisplay-4neLW.otf) format('opentype');
    font-weight: normal; /* Optional: define the font weight */
    font-style: normal; /* Optional: define the font style */
}

.leftImage {
    position: fixed;
    margin-left: 100px;
    height: 100%;
}

#formTitle {
    margin-top: 20px;
}

#image {
    height: 100%;
}

#titleContainer {
    background-color: black;
    position: absolute;
    color: white;
    top: 30%;
    opacity: 70%;
    width: 18.7rem;
}

#myTitle {
    color: white;
    text-align: center;
    font-family: my-title-font, sans-serif;
    font-size: 2rem;
    margin: 20px;
}

#photoCredit {
    position: absolute;
    color: white;
    bottom: 0;
    text-align: center;
    width: 18.7rem;
}

.firstParagraph {
    padding-left: 400px;
    margin-left: 100px;
    margin-right: 40px;
    padding-top: 90px;
    padding-bottom: 50px;
    background-color: linen;
}

.formItems{
    padding-left: 400px;
    margin-left: 100px;
}

#name, #secondName, #contact-details, #phone-details, 
#initPassword, #passwordConfirm {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

#fullName {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

#fullContact {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

#fullPassword {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

#submitButton {
    background-color: green;
    color: white;
    margin-top: 25px;
}

#signIn {
    padding-left: 400px;
    margin-left: 100px;
    margin-right: 40px;
    padding-top: 20px;
    padding-bottom: 22rem;
    background-color: linen;
}

input:invalid {
    border-color: red;
  }
  
  input:valid {
    border-color: green;
  }