*{
    margin: 0;
}

@font-face {
    font-family: my-title-font;
    src: url(./assets/modern-heritage-display-font/);
}

.leftImage {
    position: fixed;
    margin-left: 100px;
    height: 100%;
}

#image {
    height: 100%;
}

#titleContainer {
    background-color: black;
    position: absolute;
    color: white;
    top: 30%;
    opacity: 70%;
    width: 18.7rem;
}

#myTitle {
    color: white;
    text-align: center;
    font-family: my-title-font, sans-serif;
    margin: 20px;
}

#photoCredit {
    position: absolute;
    color: white;
    bottom: 0;
    text-align: center;
    width: 18.7rem;
}

.firstParagraph {
    padding-left: 400px;
    margin-left: 100px;
    margin-right: 40px;
    padding-top: 90px;
    padding-bottom: 50px;
    background-color: linen;
}

.formItems{
    padding-left: 400px;
    margin-left: 100px;
}

input, label {
    display: block;
}